@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EmployeeManagementNew.Models.Employee

<link rel="stylesheet" href="~/css/style.css" />

<h2>Add New Employee</h2>

<form>
    <input type="hidden" id="empID" />

    <div class="name">
        <label for="empName">Name:</label>
        <input type="text" id="empName" placeholder='ex. "John Doe"'/>
    </div>

    <div class="gender">
        <label for="empGender">Gender:</label>
        <div class="genderVal">
            <input type="radio" id="male" name="empGender" value="Male" />
            <label for="male">Male</label>
            <input type="radio" id="female" name="empGender" value="Female" />
            <label for="female">Female</label>
        </div>
    </div>

    <div class="salary">
        <label for="empSalary">Salary:</label>
        <input type="number" step="0.01" id="empSalary" placeholder='ex. "100000.00"'/>
    </div>

    <div class="department">
        <label for="employeeDepartment">Department:</label>
        <select id="employeeDepartment"></select>
    </div>

    <div class="employee-active">
        <label>
            Active:
            <input type="checkbox" id="empActive" />
        </label>
    </div>

    <div class="form-button">
        <button id="btnSave">Save</button>
        <button id="btnCancel">Cancel</button>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/form.js"></script>

