@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<EmployeeManagementNew.Models.Employee>

<h2>Employee Management</h2>
<button id="btnAdd">Add New Employee</button>

<table border="1" id="employeeTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Dynamic employee rows will be loaded here -->
    </tbody>
</table>
<div id="pagination"></div>

<!-- Employee Form Modal -->
<div id="employeeModal" style="display: none;">
    <h3>Employee Form</h3>
    <input type="hidden" id="empID" />
    <label for="empName">Name:</label>
    <input type="text" id="empName" /><br />
    <label for="empGender">Gender:</label>
    <input type="radio" id="male" name="empGender" value="Male" />
    <label for="male">Male</label>
    <input type="radio" id="female" name="empGender" value="Female" />
    <label for="female">Female</label><br />
    <label for="empSalary">Salary:</label>
    <input type="text" id="empSalary" /><br />
    <label for="employeeDepartment">Department:</label>
    <select id="employeeDepartment"></select><br />
    <button id="btnSave">Save</button>
    <button id="btnCancel">Cancel</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/script.js"></script>
