@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<EmployeeManagementNew.Models.Employee>

<h2>Employee Management</h2>
<button id="btnAdd">Add New Employee</button>

<table border="1" id="employeeTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Dynamic employee rows will be loaded here -->
    </tbody>
</table>

<!-- Employee Form Modal -->
<div id="employeeModal" style="display: none;">
    <h3>Employee Form</h3>
    <input type="hidden" id="empID" />
    <label for="empName">Name:</label>
    <input type="text" id="empName" /><br />
    <label for="empGender">Gender:</label>
    <input type="radio" id="male" name="empGender" value="Male" />
    <label for="male">Male</label>
    <input type="radio" id="female" name="empGender" value="Female" />
    <label for="female">Female</label><br />
    <label for="empSalary">Salary:</label>
    <input type="text" id="empSalary" /><br />
    <label for="employeeDepartment">Department:</label>
    <select id="employeeDepartment"></select><br />
    <button id="btnSave">Save</button>
    <button id="btnCancel">Cancel</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        $(document).ready(function () {
        loadEmployees();
        loadDepartments();

        // Show the modal to add a new employee
        $('#btnAdd').click(function () {
            resetForm();
            $('#employeeModal').show();
        });

        // Hide the modal and reset form
        $('#btnCancel').click(function () {
            $('#employeeModal').hide();
            resetForm();
        });

        // Load employees from the server
        function loadEmployees() {
            $.get('/Employee/GetEmployeeList', function (employees) {
                var rows = '';
                var srno = 1;
                $.each(employees, function (index, emp) {
                    rows += '<tr>' +
                        '<td>' + srno + '</td>' +
                        '<td>' + emp.employeeName + '</td>' +
                        '<td>' + emp.employeeGender + '</td>' +
                        '<td>' + emp.employeeSalary + '</td>' +
                        '<td>' + emp.departmentName + '</td>' +
                        '<td>' +
                        '<button class="btnEdit" data-id="' + emp.id + '">Edit</button>' +
                        '<button class="btnDelete" data-id="' + emp.id + '">Delete</button>' +
                        '</td>' +
                        '</tr>';
                    srno++;
                    console.log(emp);
                });
                $('#employeeTable tbody').html(rows);
            });
        }

         // Load departments into the department dropdown
        function loadDepartments() {
            $.ajax({
                url: '/Department/getAllDepartments',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        $('#employeeDepartment').empty();
                        $.each(response.department, function (index, department) {
                            $('#employeeDepartment').append(
                                '<option value="' + department.departmentId + '">' + department.departmentName + '</option>'
                            );
                            console.log(department);
                        });
                    } else {
                        alert(response.message);
                    }
                }
            });
        }

        // Save employee (Insert or Update)
        $('#btnSave').click(function () {
            var id = $('#empID').val();
            var employee = {
                id: id ? id : 0,
                employeeName: $('#empName').val(),
                employeeGender: $('input[name="empGender"]:checked').val(),
                employeeSalary: $('#empSalary').val(),
                departmentID: $('#employeeDepartment').val()
            };

            if (id == 0) {
                // Add new employee (POST)
                $.post('/Employee/InsertEmployee', employee, function (response) {
                    if (response.success) {
                        alert(response.message);
                        loadEmployees();
                        $('#employeeModal').hide();
                    } else {
                        alert('Error: ' + response.message);
                    }
                });
            } else {
                // Update existing employee (PUT)
                $.ajax({
                    url: '/Employee/UpdateEmployee',
                    type: 'PUT',
                    data: employee,
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            loadEmployees();
                            $('#employeeModal').hide();
                        } else {
                            alert('Error: ' + response.message);
                        }
                    }
                });
            }
        });

            $(document).on('click', '.btnEdit', function () {
                var row = $(this).closest('tr');
                var id = $(this).data('id');
                var name = row.find('td:eq(1)').text();
                var gender = row.find('td:eq(2)').text();
                var salary = row.find('td:eq(3)').text();
                var departmentName = row.find('td:eq(4)').text();

                // Set the employee details in the form
                $('#empID').val(id);
                $('#empName').val(name);
                $('input[name="empGender"][value="' + gender + '"]').prop('checked', true);
                $('#empSalary').val(salary);

                // Fetch department ID using department name and set it in the dropdown
                var departmentId = getDepartmentId(departmentName);
                $('#employeeDepartment').val(departmentId);

                // Show the modal
                $('#employeeModal').show();
            });


        // Delete employee
        $(document).on('click', '.btnDelete', function () {
            if (confirm('Are you sure you want to delete this employee?')) {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Employee/DeleteEmployee?id=' + id,
                    type: 'DELETE',
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            loadEmployees();
                        } else {
                            alert('Error: ' + response.message);
                        }
                    }
                });
            }
        });

        // Reset form fields
        function resetForm() {
            $('#empID').val(0);
            $('#empName').val('');
            $('#empGender').val('');
            $('#empSalary').val('');
            $('#empDepartment').val('');
        }

            function getDepartmentId(departmentName) {
                $.ajax({
                    url: '/Department/getDepartmentId',
                    type: 'GET',
                    data: { departmentName: departmentName },
                    success: function (response) {
                        if (response.success) {
                            // Set the department ID in the dropdown
                            $('#employeeDepartment').val(response.departmentId);
                        } else {
                            alert(response.message);
                        }
                    }
                });
            }

    });
</script>
