@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<EmployeeManagementNew.Models.Employee>

<h2>Employee Management</h2>

<select id="employeeFilter">
    <option value="all" default>All Employees</option>
    <option value="active">Active Only</option>
</select>

<select id="genderFilter">
    <option value="" disabled selected hidden>Search By Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="all" default>None</option>
</select>

<select id="departmentFilter">
    <option value="" disabled selected hidden>Search By Department</option>
    <option value="all" default>None</option>
</select>

<input type="text" id="search" placeholder="Search by Name/ID" />

<button id="btnAdd">Add New Employee</button>

<br />

<label for="rowsPerPage">Rows in this page:</label>
<input type="number" name="rowsPerPage" id="rowsPerPage" value="5" min="1" />

<div id="currentPage">
    <span>Page number:</span>
    <span id="number"></span>
</div>

<table border="1" id="employeeTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Dynamic employee rows will be loaded here -->
    </tbody>
</table>
<div id="pagination"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/script.js"></script>
