@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<EmployeeManagementNew.Models.Employee>


<link rel="stylesheet" href="~/css/style.css" />

<h2>Employee Management</h2>

<div class="addEmployee">
    <button id="btnAdd">Add New Employee</button>
</div>

<div class='filter-search'>
    <select id="employeeFilter">
        <option value="all" default>All Employees</option>
        <option value="active">Active Only</option>
    </select>

    <div class="search">
        <input type="search" id="search" placeholder="Search by ID/SearchTerm" />
        <button id="btnSearch">Search</button>
    </div>
</div>

<div class="pgNumber">
    <div class="rowsPerPage">
        <label for="rowsPerPage">Rows in this page:</label>
        <input type="number" name="rowsPerPage" id="rowsPerPage" value="5" min="1" />
    </div>

    <div id="currentPage" class="currentPage">
        <span>Page number:</span>
        <span id="number"></span>
    </div>
</div>

<div class="getDeleted">
    <input type="checkbox" id="deleted" />
    <label for="deleted">Also show deleted employees</label>
</div>

<table border="1" id="employeeTable">
    <thead>
        <tr>
            <th>SrNo</th>
            <th>
                <div class="header-container">
                    ID 
                    <span class="sort-icons">
                        <span class="sort-up" data-column="ID">⯅</span><br>
                        <span class="sort-down" data-column="ID">⯆</span>
                    </span>
                </div>
            </th>
            <th>
                <div class="header-container">
                    Name 
                    <span class="sort-icons">
                        <span class="sort-up" data-column="Name">⯅</span><br>
                        <span class="sort-down" data-column="Name">⯆</span>
                    </span>
                </div>
            </th>
            <th>
                <div class="header-container">
                    Gender 
                    <span class="sort-icons">
                        <span class="sort-up" data-column="Gender">⯅</span><br>
                        <span class="sort-down" data-column="Gender">⯆</span>
                    </span>
                </div>
            </th>
            <th>
                <div class="header-container">
                    Salary 
                    <span class="sort-icons">
                        <span class="sort-up" data-column="Salary">⯅</span><br>
                        <span class="sort-down" data-column="Salary">⯆</span>
                    </span>
                </div>
            </th>
            <th>
                <div class="header-container">
                    Department 
                    <span class="sort-icons">
                        <span class="sort-up" data-column="Department">⯅</span><br>
                        <span class="sort-down" data-column="Department">⯆</span>
                    </span>
                </div>
            </th>
            <th>
                <div class="header-container">
                    Active
                    <span class="sort-icons">
                        <span class="sort-up" data-column="Active">⯅</span><br>
                        <span class="sort-down" data-column="Active">⯆</span>
                    </span>
                </div>
            </th>
            <th>
                <div class="header-container">
                    isDeleted
                    <span class="sort-icons">
                        <span class="sort-up" data-column="isDeleted">⯅</span><br>
                        <span class="sort-down" data-column="isDeleted">⯆</span>
                    </span>
                </div>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Dynamic employee rows will be loaded here -->
    </tbody>
</table>
<div id="pagination" class="pagination"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/script.js"></script>
